@import './base.css';


input,select,textarea{
    background-color: transparent !important;
}


input:focus,
select:focus,
textarea:focus,
button:focus,
.vue-tel-input,
.page-link:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #dee2e6 !important;
 
}



.cursor-pointer{
    cursor: pointer;
}